# SSH Daemon Config File Suppliment
# vim: set ft=sshconfig:
#
# {{ ansible_managed }}
#
# This file is used to secure ssh logins only to local users who have been
# added to the ssh or _ssh groups.
#

AllowGroups _ssh
